/* BUTTONS */
html {
  width: 100%;
  max-width: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #2D2D30;
  line-height: 1.6;
  font-weight: bold;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

*,
*:before *:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0%;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

/* Loader */
/* BUTTONS */
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #FFFFFF;
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #1421FF;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes preloader-bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

/* Header */
/* BUTTONS */
/* Header */
.header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: 0.5s ease;
}

.progress-container {
  width: 100%;
  height: 5px;
  background: #F5F5F5;
  position: absolute;
  top: 0;
  opacity: 0;
  border-radius: 8px;
}

.progress-bar {
  height: 5px;
  background: #5B64FF;
  width: 0%;
  border-radius: 8px;
  transition: .1s ease-out;
}

.header__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header.fixed {
  height: auto;
  position: fixed;
  background-color: #EFF0FF;
  z-index: 1001;
  padding-bottom: 15px;
  padding-top: 10px;
}

.header.fixed .burger-menu__button {
  top: 30px;
  right: 0px;
}

.header.fixed .progress-container {
  opacity: 1;
}

.header.fixed .header__inner {
  border-bottom: 0;
}

.header__logo {
  padding-right: 40px;
}

.nav__link {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
  color: #2D2D30;
  margin-right: 40px;
  transition: 0.2s ease;
}
.nav__link:last-child {
  margin-right: 45px;
}
.nav__link:hover {
  color: #1421FF;
}

.active {
  color: #1421FF;
}

.buttonBrief {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #1421FF;
  text-decoration: none;
  border: 1.5px solid #1421FF;
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 8px;
  transition: 0.3s ease;
}
.buttonBrief:hover {
  border: 1.5px solid #5B64FF;
  color: #5B64FF;
}
.buttonBrief:active {
  color: #2D2D30;
}
.buttonBrief:focus {
  color: #52525A;
}

/* Intro */
.intro {
  padding-bottom: 286px;
}

.intro__inner {
  padding-top: 286px;
  text-align: center;
}

.intro__title {
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
}

.wordBlue {
  color: #1421FF;
}

.intro__suptitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 24px;
}

.intro__button {
  padding-top: 64px;
}

.intro__button__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonIntro {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 18px 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  background: #1421FF;
  border-radius: 8px;
  transition: 0.3s ease;
}
.buttonIntro:hover {
  background: #5B64FF;
}
.buttonIntro:active {
  background: #2D2D30;
}
.buttonIntro:focus {
  background: #52525A;
}

/*============== MAIN PAGE ===================  */
/*============== MAIN PAGE ===================  */
/*============== MAIN PAGE ===================  */
/* Section */
.section__header {
  text-align: center;
  width: 1128px;
  margin: 0 auto;
  padding-bottom: 64px;
}

.section__title h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
}

.section__suptitle {
  padding-top: 24px;
}
.section__suptitle h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

/* Section Team */
.section__team__inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 200px;
}

.team__text--1 {
  max-width: 328px;
  padding-right: 48px;
}
.team__text--1 h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
}

.team__text--2 {
  max-width: 328px;
  display: flex;
  align-items: flex-end;
}
.team__text--2 p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.team__photo__inner {
  box-sizing: border-box;
}
.team__photo__inner img {
  width: 376px;
  height: 400px;
  margin-right: 48px;
  box-shadow: #26394d 0px 20px 30px -10px;
  border-radius: 8px;
}

/* What we do */
.weDo__photo__inner {
  text-align: center;
}

.weDo__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 200px;
}

.weDo__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 540px;
  height: auto;
  margin-left: 48px;
  margin-bottom: 48px;
}

.weDo__item__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  padding-top: 27px;
  padding-bottom: 16px;
}

.weDo__item__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

/* Our Customers section */
.services__carousel {
  position: relative;
  width: 1470px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 200px;
}

.carousel__row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.carousel__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  margin-right: 72px;
  margin-bottom: 48px;
}

.carousel__title--bold {
  font-size: 30px;
  font-weight: 800;
  line-height: 40px;
  margin-right: 72px;
  margin-bottom: 48px;
}

.underlineWord {
  text-decoration: underline;
}

.effect1 {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 302px;
  height: 216px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.99) 22.56%, rgba(255, 255, 255, 0) 82.03%);
}

.effect2 {
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 0;
  width: 302px;
  height: 216px;
  background: linear-gradient(270.44deg, rgba(255, 255, 255, 0.98) 46.22%, rgba(255, 255, 255, 0) 89.77%);
}

/* Complex Systems section */
.systems {
  padding-bottom: 200px;
}

.systems__row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.systems__item {
  width: 328px;
  margin-right: 72px;
  margin-bottom: 48px;
  cursor: pointer;
}
.systems__item:last-child {
  margin-right: 0;
}

.systems__title {
  padding-top: 24px;
  text-align: center;
}
.systems__title h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.systems__item__photo img {
  width: 328px;
  height: 242px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 8px;
}

/* Examples section */
.examples__gallery__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.examples__gallery__item {
  position: relative;
  background: #1421FF;
  border-radius: 8px;
  margin-right: 48px;
  margin-left: 48px;
  margin-bottom: 48px;
  cursor: pointer;
}

.examples__gallery__photo img {
  display: block;
  transition: opacity .2s linear;
  max-width: 100%;
  height: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 8px;
}

.examples__item__text {
  position: absolute;
  top: 0;
  opacity: 0;
  left: 0;
  z-index: 100;
  padding: 368px 24px 24px 24px;
  transition: opacity .2s linear;
  width: 100%;
}

.examples__gallery__title h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #FFFFFF;
}

.examples__gallery__suptitle h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #FFFFFF;
  padding-top: 8px;
  padding-bottom: 24px;
}

.gallery__button__inner a {
  padding: 18px 32px;
  background: #FFFFFF;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #1421FF;
}

.examples__gallery__item:hover .examples__gallery__photo img {
  opacity: .1;
}

.examples__gallery__item:hover .examples__item__text {
  opacity: 1;
}

.examples__button {
  padding-top: 64px;
  padding-bottom: 200px;
}

.examples__button__inner {
  display: flex;
  justify-content: center;
}
.examples__button__inner a {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 18px 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  background: #1421FF;
  border-radius: 8px;
  transition: 0.3s ease;
}
.examples__button__inner a:hover {
  background: #5B64FF;
}
.examples__button__inner a:active {
  background: #2D2D30;
}
.examples__button__inner a:focus {
  background: #52525A;
}

/* Useful To Work section */
.usefulToWork__photo {
  text-align: center;
}

/* Cooperation section */
.cooperation__gallery__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 184px;
}

.cooperation__gallery__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 48px;
  width: 328px;
  box-sizing: border-box;
}

.cooperation__gallery__photo img {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border-radius: 8px;
}

.cooperation__gallery__text {
  padding-top: 24px;
}

.cooperation__gallery__title {
  padding-bottom: 16px;
}
.cooperation__gallery__title h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #2D2D30;
}

.cooperation__gallery__suptitle p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  min-height: 220px;
  padding-bottom: 16px;
}

/* Work Procces section */
/* Stages section */
.stages {
  padding-bottom: 200px;
  margin: 0 auto;
}

.stages__wrapper {
  width: 1400px;
  margin: 0 auto;
  padding-top: 64px;
}

.stages__inner {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.stages__col {
  display: flex;
  flex-direction: column;
  left: 30%;
  position: relative;
}

.stage {
  margin-bottom: 32px;
  left: 25%;
  position: relative;
}
.stage::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  left: -5.5%;
  background-color: #1421FF;
  box-shadow: 0px 0px 10px rgba(28, 84, 233, 0.5);
  top: 7px;
  border-radius: 50%;
  z-index: 100;
}

.timeline {
  position: relative;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 1px;
  background-color: #EFF0FF;
  top: 15px;
  bottom: 0;
  left: 50%;
  max-height: 100%;
}

.stages__text {
  max-width: 660px;
  margin: 0 auto;
}

.stages__title h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

/* Advantages section */
.advantages__inner {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.advantages__title {
  padding-right: 48px;
  width: 540px;
}
.advantages__title h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
}

.advantages__photo img {
  box-shadow: #26394d 0px 20px 30px -10px;
}

/* Outsource-profit section */
.outsource-profit__inner {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.outsource-profit__title {
  padding-left: 48px;
  width: 540px;
}
.outsource-profit__title h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
}

.outsource-profit__photo img {
  box-shadow: #26394d 0px 20px 30px -10px;
  border-radius: 8px;
}

/* Bad Interface section */
.bad__interface__wrapper {
  padding-bottom: 200px;
}

.bad__interface__inner {
  display: flex;
  justify-content: center;
}

.interface__item {
  width: 328px;
  margin-right: 72px;
  min-height: 460px;
}
.interface__item:last-child {
  margin-right: 0;
}

.interface__item__text {
  padding-top: 24px;
}

.interface__item__photo img {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 8px;
}

.interface__item__title h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.interface__item__description p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

/* Questions section */
.questions__inner {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-bottom: 200px;
}

.accordion__wrapper {
  margin-right: 72px;
}

ul {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

.accordion-menu li {
  max-width: 728px;
}

.accordion-menu {
  max-width: 728px;
  margin: 0 auto;
}

.accordion-menu li.open .dropdownlink .fa-plus {
  transform: rotate(45deg);
  transition: 0.4s ease-out;
}

.dropdownlink {
  cursor: pointer;
  display: block;
  padding: 18px 16px;
  margin-bottom: 16px;
  background: #F5F5F5;
  transition: all 0.4s ease-out;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #2D2D30;
}
.dropdownlink i {
  float: right;
}
.dropdownlink .fa-chevron-down {
  right: 12px;
  left: auto;
}

.open .dropdownlink {
  background: #EFF0FF;
}

.submenuItems {
  display: none;
  padding: 0px 16px 18px 16px;
  background: #EFF0FF;
  margin-top: -16px;
  margin-bottom: 16px;
}
.submenuItems p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.submenuItems img {
  text-align: center;
  border-radius: 8px;
}

.questions__text {
  min-width: 328px;
}

.questions__title h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
}

.questions__suptitle h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

/* Rate Us section */
/* BUTTONS */
.rateUs__inner {
  display: flex;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 286px;
}

.rateUs__text {
  min-width: 330px;
  margin-right: 72px;
}

.rateUs__text__title h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
}

.rateUs__text__suptitle {
  padding-top: 24px;
}
.rateUs__text__suptitle h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.contact__form ul {
  list-style-type: none;
  list-style-position: outside;
  padding-inline-start: 0px;
  margin-bottom: 16px;
}
.contact__form h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.contact__input {
  width: 728px;
  padding: 12px 16px 12px 12px;
  background-color: #F5F5F5;
  border: none;
  border-radius: 8px;
}
.contact__input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  font-family: Montserrat;
}
.contact__input:focus {
  background-color: #EFF0FF;
}
.contact__input:hover {
  background-color: #EFF0FF;
}
.contact__input:active {
  background-color: #EFF0FF;
}

.contact__textarea {
  width: 728px;
  min-height: 100px;
  padding: 12px 16px 12px 12px;
  background-color: #F5F5F5;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  font-family: Montserrat;
}
.contact__textarea::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  font-family: Montserrat;
}

.send__button {
  padding-top: 24px;
}
.send__button a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 18px 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  background: #1421FF;
  border-radius: 8px;
  transition: 0.3s ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.send__button a:hover {
  background: #5B64FF;
}
.send__button a:active {
  background: #2D2D30;
}
.send__button a:focus {
  background: #52525A;
}

.send__button__inner {
  display: flex;
  justify-content: flex-end;
}

/* Footer */
/* BUTTONS */
/* Footer */
.footer {
  border-top: 1px solid #EBEFFB;
}

.footer__inner {
  display: flex;
  justify-content: center;
  padding-bottom: 64px;
  padding-top: 64px;
}

.footer__logo {
  padding-right: 104px;
}
.footer__logo img {
  width: 125px;
  height: 40px;
}

.footer__social {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 400px;
}

.footer__social__item {
  width: 40px;
  height: 40px;
  margin-right: 16px;
  text-align: center;
  background: #2D2D30 center no-repeat;
  background-size: cover;
  font-size: 20px;
  border-radius: 50%;
  color: #FFFFFF;
  box-sizing: border-box;
  transition: 0.2s linear;
}
.footer__social__item:last-child {
  margin-right: 0;
}
.footer__social__item::before {
  width: 20px;
  height: 5px;
  display: block;
  content: '';
  margin: 0 auto;
}
.footer__social__item:hover {
  background-color: #FFFFFF;
  color: #2D2D30;
  cursor: pointer;
}

.footer__contacts__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__contacts__email {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.email__icon {
  margin-right: 16px;
  width: 24px;
  height: 24px;
  text-align: center;
  color: #1421FF;
}

.email {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.footer__contacts__phone {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.phone__icon {
  margin-right: 16px;
  width: 24px;
  height: 24px;
  text-align: center;
  color: #1421FF;
}

.phone {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

/* SCROLL TOP/DOWN */
.up_down_btn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 10;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 34px;
  background: #FF8B14;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 20px;
  display: none;
  font-size: 35px;
  transition: all 0.3s ease;
}

.up_down_btn:hover {
  background: #5B64FF;
}

.up_down_btn-show {
  display: block;
}

.up_down_btn-disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0;
}

/* Burger Menu */
/* BUTTONS */
/* BUTTONS */
/* Header */
.header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: 0.5s ease;
}

.progress-container {
  width: 100%;
  height: 5px;
  background: #F5F5F5;
  position: absolute;
  top: 0;
  opacity: 0;
  border-radius: 8px;
}

.progress-bar {
  height: 5px;
  background: #5B64FF;
  width: 0%;
  border-radius: 8px;
  transition: .1s ease-out;
}

.header__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header.fixed {
  height: auto;
  position: fixed;
  background-color: #EFF0FF;
  z-index: 1001;
  padding-bottom: 15px;
  padding-top: 10px;
}

.header.fixed .burger-menu__button {
  top: 30px;
  right: 0px;
}

.header.fixed .progress-container {
  opacity: 1;
}

.header.fixed .header__inner {
  border-bottom: 0;
}

.header__logo {
  padding-right: 40px;
}

.nav__link {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
  color: #2D2D30;
  margin-right: 40px;
  transition: 0.2s ease;
}
.nav__link:last-child {
  margin-right: 45px;
}
.nav__link:hover {
  color: #1421FF;
}

.active {
  color: #1421FF;
}

.buttonBrief {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #1421FF;
  text-decoration: none;
  border: 1.5px solid #1421FF;
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 8px;
  transition: 0.3s ease;
}
.buttonBrief:hover {
  border: 1.5px solid #5B64FF;
  color: #5B64FF;
}
.buttonBrief:active {
  color: #2D2D30;
}
.buttonBrief:focus {
  color: #52525A;
}

.burger-menu {
  display: none;
}

.burger-menu__button {
  display: inline-block;
  position: absolute;
  top: 30px;
  right: 0px;
  z-index: 10000;
  width: 60px;
  height: 60px;
  transition: 0.5s;
}

.burger-menu__active .burger-menu__button,
.burger-menu__active .burger-menu__lines {
  background-color: transparent;
}

.burger-menu__active .burger-menu__lines::before {
  top: 0;
  transform: rotate(45deg);
  background-color: #2D2D30;
  transition: .2s;
}

.burger-menu__active .burger-menu__lines::after {
  top: 0;
  transform: rotate(-45deg);
  background-color: #2D2D30;
  transition: .2s;
}

.burger-menu__lines::after,
.burger-menu__lines::before {
  position: absolute;
  width: 24px;
  height: 3px;
  background-color: #000000;
  border-radius: 8px;
}

.burger-menu__lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.burger-menu__lines::before {
  content: '';
  top: -6px;
}

.burger-menu__lines::after {
  content: '';
  top: 6px;
}

.burger-menu__nav {
  padding-top: 104px;
  position: fixed;
  top: 0;
  z-index: 9999;
  display: flex;
  flex-flow: column;
  height: 100vh;
  background-color: #EFF0FF;
  overflow-y: auto;
  right: -100%;
  width: 100vw;
  text-align: center;
  transition: 0.5s;
}

.burger-menu__active .burger-menu__nav {
  right: 0;
}

.burger__link {
  font-size: 34px;
  font-weight: 800;
  line-height: 40px;
  text-decoration: none;
  color: #2D2D30;
  padding-bottom: 32px;
}

.burger-menu__overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}

.burger-menu__active .burger-menu__overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Responsive */
/* BUTTONS */
/*========== LAPTOP ===========*/
/*========== LAPTOP ===========*/
/*========== LAPTOP ===========*/
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  /* Header */
  .nav__link {
    margin-right: 20px;
  }

  /* Our customers */
  .services__carousel {
    width: 1200px;
  }

  .carousel__title {
    margin-right: 48px;
  }
  .carousel__title:last-child {
    margin-right: 0;
  }
}
/*========== LARGE DEVICES ===========*/
/*========== LARGE DEVICES ===========*/
/*========== LARGE DEVICES ===========*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  .header__inner {
    display: block;
    padding-right: 56px;
    padding-left: 56px;
  }

  .nav {
    display: none;
  }

  .header__button {
    display: none;
  }

  .header__logo img {
    width: 90px;
    height: 30px;
  }

  /* Burger Menu */
  .burger-menu {
    display: block;
  }
  .burger-menu .header__button {
    display: flex;
    justify-content: center;
  }

  .buttonBrief {
    padding: 18px 32px;
  }

  /* Section */
  .container {
    width: 768px;
  }

  .section__header {
    width: auto;
  }

  .section__title h1 {
    font-size: 34px;
    font-weight: 800;
    line-height: 40px;
  }

  /* A little team section */
  .section__team__inner {
    flex-direction: column;
    padding-bottom: 104px;
  }

  .team__text--1 {
    min-width: 570px;
    text-align: center;
    margin: 0 auto;
    padding-right: 0;
    padding-bottom: 32px;
  }
  .team__text--1 h1 {
    font-size: 34px;
    font-weight: 800;
    line-height: 40px;
  }

  .team__text--2 {
    min-width: 656px;
    text-align: start;
    margin: 0 auto;
    padding-top: 32px;
  }

  .team__photo__inner {
    text-align: center;
  }
  .team__photo__inner img {
    margin-right: 0;
  }

  /* WeDo */
  .weDo__photo__inner img {
    width: 656px;
    height: 233px;
  }

  .weDo__inner {
    flex-direction: column;
    padding-bottom: 104px;
  }

  .weDo__item {
    width: auto;
    margin-left: 0;
  }

  .weDo__item__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }

  /* Our customers */
  .services__carousel {
    width: 768px;
    padding-bottom: 104px;
  }

  .carousel__title {
    margin-right: 48px;
    margin-bottom: 32px;
  }
  .carousel__title:last-child {
    margin-right: 0;
  }

  .effect1 {
    width: 158px;
  }

  .effect2 {
    width: 158px;
  }

  /* Systems */
  .systems {
    padding-bottom: 104px;
  }

  .systems__row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .systems__item {
    margin-right: 32px;
    margin-bottom: 32px;
  }
  .systems__item:last-child {
    margin-right: 0;
  }

  /* Examples */
  .usefulToWork__photo img {
    width: 656px;
    height: 233px;
  }

  /* Cooperation */
  .cooperation__gallery__inner {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 104px;
  }

  .cooperation__gallery__item {
    margin-right: 32px;
    margin-bottom: 24px;
  }
  .cooperation__gallery__item:last-child {
    margin-right: 0;
  }

  /* Stages */
  .stages__wrapper {
    width: 768px;
    padding-top: 32px;
  }

  .timeline::after {
    left: 20.5%;
  }

  .stages__col {
    display: flex;
    flex-direction: column;
    left: 0%;
    position: relative;
  }

  /* Advantages */
  .advantages__title {
    padding-right: 46px;
    width: 290px;
  }
  .advantages__title h1 {
    font-size: 34px;
    font-weight: 800;
    line-height: 40px;
  }

  .advantages__photo img {
    width: 320px;
    height: 242px;
  }

  /* Outsource-profit section */
  .outsource-profit__title {
    padding-left: 72px;
    width: 254px;
  }
  .outsource-profit__title h1 {
    font-size: 34px;
    font-weight: 800;
    line-height: 40px;
  }

  .outsource-profit__photo img {
    width: 320px;
    height: 242px;
  }

  /* Questions section */
  .questions__inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 104px;
  }

  .accordion__wrapper {
    order: 1;
    margin-right: 0;
  }

  .questions__text {
    order: 0;
    width: auto;
    padding-bottom: 32px;
  }

  .questions__title {
    text-align: center;
    padding-bottom: 16px;
  }
  .questions__title h1 {
    font-size: 34px;
    font-weight: 800;
    line-height: 40px;
  }

  .questions__suptitle {
    text-align: center;
  }

  /* Rate Us */
  .rateUs__inner {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 104px;
  }

  .rateUs__text {
    text-align: center;
    width: auto;
    margin-right: 0;
    padding-bottom: 32px;
  }

  .rateUs__text__title h1 {
    font-size: 34px;
    font-weight: 800;
    line-height: 40px;
  }

  .questions__suptitle {
    padding-top: 16px;
  }
  .questions__suptitle h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  .contact__input {
    width: 656px;
    padding: 12px 16px 12px 12px;
    background-color: #F5F5F5;
    border: none;
    border-radius: 8px;
  }

  .send__button {
    padding-right: 16px;
  }

  .footer__logo {
    padding-top: 24px;
  }

  .footer__social {
    display: flex;
    flex-wrap: wrap;
    padding-right: 146px;
  }

  .footer__social__item {
    margin-bottom: 16px;
  }

  .footer__contacts__inner {
    padding-top: 24px;
  }

  .examples__gallery__item {
    margin-right: 0;
    margin-left: 0;
  }
}
/*========== MID DEVICES ===========*/
/*========== MID DEVICES ===========*/
/*========== MID DEVICES ===========*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Header */
  .header__inner {
    display: block;
    padding-right: 56px;
    padding-left: 56px;
  }

  .nav {
    display: none;
  }

  .header__button {
    display: none;
  }

  .header__logo img {
    width: 90px;
    height: 30px;
  }

  /* Burger Menu */
  .burger-menu {
    display: block;
  }
  .burger-menu .header__button {
    display: flex;
    justify-content: center;
  }

  .buttonBrief {
    padding: 18px 32px;
  }

  /* Section */
  .container {
    width: 768px;
  }

  .section__header {
    width: 528px;
    margin: 0 auto;
    text-align: center;
  }

  .section__title h1 {
    font-size: 30px;
    font-weight: 800;
    line-height: 40px;
  }

  /* Intro */
  .intro {
    padding-bottom: 200px;
  }

  .intro__inner {
    padding-top: 200px;
  }

  .intro__title {
    font-size: 30px;
    font-weight: 800;
    line-height: 40px;
  }

  /* A little team section */
  .section__team__inner {
    flex-direction: column;
    padding-bottom: 104px;
  }

  .team__text--1 {
    min-width: 570px;
    text-align: center;
    margin: 0 auto;
    padding-right: 0;
    padding-bottom: 32px;
  }
  .team__text--1 h1 {
    font-size: 30px;
    font-weight: 800;
    line-height: 40px;
  }

  .team__text--2 {
    min-width: 656px;
    text-align: start;
    margin: 0 auto;
    padding-top: 32px;
  }

  .team__photo__inner {
    text-align: center;
  }
  .team__photo__inner img {
    margin-right: 0;
    width: 348px;
    height: 328px;
  }

  /* WeDo */
  .weDo__photo__inner img {
    width: 525px;
    height: 187px;
  }

  .weDo__inner {
    flex-direction: column;
    padding-bottom: 104px;
  }

  .weDo__item {
    width: auto;
    margin-left: 0;
  }

  .weDo__item__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }

  /* Our customers */
  .services__carousel {
    width: 768px;
    padding-bottom: 104px;
  }

  .carousel__row {
    flex-direction: column;
  }

  .carousel__title {
    margin-right: 24px;
    margin-left: 24px;
    margin-bottom: 32px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
  .carousel__title:last-child {
    margin-right: 0;
  }

  .carousel__title--bold {
    margin-right: 24px;
    margin-left: 24px;
  }

  .effect1 {
    width: 158px;
  }

  .effect2 {
    width: 158px;
  }

  /* Systems */
  .systems {
    padding-bottom: 104px;
  }

  .systems__row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .systems__item {
    margin-right: 0;
    margin-bottom: 32px;
  }

  .systems__item__photo img {
    width: 328px;
    height: 242px;
  }

  /* Examples */
  .examples__gallery__inner {
    flex-direction: column;
    align-items: center;
  }

  .examples__gallery__item {
    margin-right: 0;
    margin-left: 0;
  }

  .examples__item__text {
    padding: 90px 0px 0px 15px;
    width: auto;
  }

  .examples__gallery__photo img {
    width: 328px;
    height: 328px;
  }

  /* UsefulToWork */
  .usefulToWork__photo img {
    width: 525px;
    height: 187px;
  }

  /* Cooperation */
  .cooperation__gallery__inner {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 64px;
  }

  .cooperation__gallery__item {
    margin-right: 0;
    margin-bottom: 0;
  }

  .cooperation__gallery__title {
    padding-bottom: 8px;
  }

  .cooperation__gallery__suptitle p {
    min-height: 130px;
    padding-bottom: 16px;
  }

  /* Stages */
  .stages {
    padding-bottom: 64px;
  }
  .stages h4 {
    display: none;
  }
  .stages h5 {
    display: none;
  }

  .stages__wrapper {
    width: 528px;
    padding-top: 32px;
  }

  .timeline::after {
    left: 1%;
    top: -40px;
  }

  .stages__col {
    display: flex;
    flex-direction: column;
    left: -20%;
    position: relative;
  }

  .stages__row::after {
    left: -4.5%;
    top: 40x;
  }

  /* Advantages */
  .advantages__title {
    padding-right: 0;
    padding-bottom: 32px;
    width: 528px;
    text-align: center;
  }
  .advantages__title h1 {
    font-size: 30px;
    font-weight: 800;
    line-height: 40px;
  }

  .advantages__photo img {
    width: 320px;
    height: 242px;
  }

  .advantages__inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Outsource-profit section */
  .outsource-profit__inner {
    flex-direction: column;
  }

  .outsource-profit__title {
    padding-left: 0;
    padding-bottom: 32px;
    width: 528px;
    margin: 0 auto;
    text-align: center;
    order: 0;
  }
  .outsource-profit__title h1 {
    font-size: 30px;
    font-weight: 800;
    line-height: 40px;
  }

  .outsource-profit__photo {
    text-align: center;
    order: 1;
  }
  .outsource-profit__photo img {
    width: 320px;
    height: 242px;
  }

  /* Questions section */
  .questions__inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 104px;
  }

  .accordion__wrapper {
    order: 1;
    margin-right: 0;
  }

  .dropdownlink {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }
  .dropdownlink span {
    width: 256px;
  }

  .accordion-menu li {
    width: 550px;
    margin: 0 auto;
  }

  .questions__text {
    order: 0;
    width: auto;
    padding-bottom: 32px;
  }

  .questions__title {
    text-align: center;
    padding-bottom: 16px;
  }
  .questions__title h1 {
    font-size: 34px;
    font-weight: 800;
    line-height: 40px;
  }

  .questions__suptitle {
    text-align: center;
  }

  /* Rate Us */
  .rateUs__inner {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 104px;
  }

  .rateUs__text {
    text-align: center;
    width: auto;
    margin-right: 0;
    padding-bottom: 32px;
  }

  .rateUs__text__title h1 {
    font-size: 34px;
    font-weight: 800;
    line-height: 40px;
  }

  .questions__suptitle {
    padding-top: 16px;
  }
  .questions__suptitle h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  /* Footer */
  .contact__input {
    width: 528px;
    padding: 12px 16px 12px 12px;
    margin-right: 16px;
    margin-left: 16px;
    background-color: #F5F5F5;
    border: none;
    border-radius: 8px;
  }

  .contact__form {
    text-align: center;
    margin: 0 auto;
  }

  .contact__form h2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .contact__textarea {
    width: 528px;
    margin-right: 16px;
    margin-left: 16px;
  }

  .send__button {
    padding-right: 104px;
  }

  /* Footer */
  .footer__inner {
    flex-direction: column;
    padding-right: 32px;
    padding-left: 32px;
  }

  .footer__logo {
    padding-top: 24px;
    padding-bottom: 48px;
  }

  .footer__social {
    display: flex;
    flex-wrap: wrap;
    padding-right: 146px;
    padding-bottom: 48px;
  }

  .footer__social__item {
    margin-bottom: 0;
  }

  .footer__contacts__inner {
    padding-top: 24px;
  }
}
/*========== SMALL DEVICES ===========*/
/*========== SMALL DEVICES ===========*/
/*========== SMALL DEVICES ===========*/
@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* Header */
  .header__inner {
    display: block;
    padding-right: 56px;
    padding-left: 56px;
  }

  .nav {
    display: none;
  }

  .header__button {
    display: none;
  }

  .header__logo img {
    width: 90px;
    height: 30px;
  }

  /* Burger Menu */
  .burger-menu {
    display: block;
  }
  .burger-menu .header__button {
    display: flex;
    justify-content: center;
  }

  .burger-menu__nav {
    padding-top: 64px;
  }

  .burger__link {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }

  .buttonBrief {
    padding: 18px 32px;
  }

  /* Section */
  .container {
    width: 360px;
  }

  .section__header {
    width: 328px;
    margin: 0;
    text-align: start;
  }

  .section__title h1 {
    font-size: 30px;
    font-weight: 800;
    line-height: 40px;
  }

  /* Intro */
  .intro {
    padding-bottom: 104px;
  }

  .intro__inner {
    padding-top: 160px;
    text-align: start;
  }

  .intro__title {
    text-align: start;
    font-size: 30px;
    font-weight: 800;
    line-height: 40px;
  }

  /* A little team section */
  .section__team__inner {
    flex-direction: column;
    padding-bottom: 64px;
  }

  .team__text--1 {
    width: 328px;
    text-align: start;
    margin: 0 auto;
    padding-right: 0;
    padding-bottom: 32px;
  }
  .team__text--1 h1 {
    font-size: 30px;
    font-weight: 800;
    line-height: 40px;
  }

  .team__text--2 {
    width: auto;
    text-align: start;
    margin: 0 auto;
    padding-top: 32px;
  }

  .team__photo__inner {
    text-align: center;
  }
  .team__photo__inner img {
    margin-right: 0;
    width: 348px;
    height: 328px;
  }

  /* WeDo */
  .weDo__photo__inner img {
    width: 360px;
    height: 117px;
  }

  .weDo__inner {
    flex-direction: column;
    padding-bottom: 64px;
  }

  .weDo__item {
    width: auto;
    margin-left: 0;
  }

  .weDo__item__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }

  /* Our customers */
  .services__carousel {
    width: 360px;
    padding-bottom: 64px;
    padding-top: 0;
  }

  .carousel__row {
    flex-direction: column;
    text-align: center;
  }

  .carousel__title {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 32px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
  .carousel__title:last-child {
    margin-right: 0;
  }

  .carousel__title--bold {
    margin-right: 24px;
    margin-left: 24px;
  }

  .effect1 {
    display: none;
  }

  .effect2 {
    display: none;
  }

  /* Systems */
  .systems {
    padding-bottom: 64px;
  }

  .systems__row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .systems__item {
    margin-right: 0;
    margin-bottom: 32px;
  }

  .systems__item__photo img {
    width: 328px;
    height: 242px;
  }

  /* Examples */
  .examples__gallery__inner {
    flex-direction: column;
    align-items: center;
  }

  .examples__gallery__item {
    margin-right: 0;
    margin-left: 0;
  }

  .examples__item__text {
    padding: 90px 0px 0px 15px;
    width: auto;
  }

  .examples__gallery__photo img {
    width: 328px;
    height: 328px;
  }

  /* UsefulToWork */
  .usefulToWork__photo img {
    width: 360px;
    height: 117px;
  }

  /* Cooperation */
  .cooperation__gallery__inner {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 64px;
  }

  .cooperation__gallery__item {
    margin-right: 0;
    margin-bottom: 0;
  }

  .cooperation__gallery__title {
    padding-bottom: 8px;
  }

  .cooperation__gallery__suptitle p {
    min-height: 130px;
    padding-bottom: 16px;
  }

  /* Stages */
  .stages {
    padding-bottom: 64px;
  }
  .stages h4 {
    display: none;
  }
  .stages h5 {
    display: none;
  }

  .stages__wrapper {
    width: 328px;
    padding-top: 32px;
  }

  .timeline::after {
    left: 1%;
    top: -25px;
  }

  .stages__col {
    display: flex;
    flex-direction: column;
    left: -20%;
    position: relative;
  }

  .stages__row::after {
    left: -5%;
    top: 10px;
  }

  /* Advantages */
  .advantages__title {
    padding-right: 0;
    padding-bottom: 32px;
    width: 328px;
    text-align: start;
  }
  .advantages__title h1 {
    font-size: 30px;
    font-weight: 800;
    line-height: 40px;
  }

  .advantages__photo img {
    width: 320px;
    height: 242px;
  }

  .advantages__inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Outsource-profit section */
  .outsource-profit__inner {
    flex-direction: column;
  }

  .outsource-profit__title {
    padding-left: 0;
    padding-bottom: 32px;
    width: 328px;
    text-align: start;
    order: 0;
  }
  .outsource-profit__title h1 {
    font-size: 30px;
    font-weight: 800;
    line-height: 40px;
  }

  .outsource-profit__photo {
    text-align: center;
    order: 1;
  }
  .outsource-profit__photo img {
    width: 320px;
    height: 242px;
  }

  /* Questions section */
  .questions__inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 64px;
  }

  .accordion__wrapper {
    order: 1;
    margin-right: 0;
  }

  .dropdownlink {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
  }

  .submenuItems img {
    width: 290px;
    height: 200px;
  }

  .accordion-menu li {
    width: 327px;
    margin: 0 auto;
  }

  .questions__text {
    order: 0;
    width: auto;
    padding-bottom: 32px;
  }

  .questions__title {
    text-align: center;
    padding-bottom: 16px;
  }
  .questions__title h1 {
    font-size: 34px;
    font-weight: 800;
    line-height: 40px;
  }

  .questions__suptitle {
    text-align: center;
  }

  /* Rate Us */
  .rateUs__inner {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 64px;
  }

  .rateUs__text {
    text-align: center;
    width: auto;
    margin-right: 0;
    padding-bottom: 32px;
  }

  .rateUs__text__title h1 {
    font-size: 34px;
    font-weight: 800;
    line-height: 40px;
  }

  .questions__suptitle {
    padding-top: 16px;
  }
  .questions__suptitle h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  /* Footer */
  .contact__input {
    width: 328px;
    padding: 12px 16px 12px 12px;
    margin-right: 16px;
    margin-left: 16px;
    background-color: #F5F5F5;
    border: none;
    border-radius: 8px;
  }

  .contact__form {
    text-align: center;
    margin: 0 auto;
  }

  .contact__form h2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .contact__textarea {
    width: 328px;
    margin-right: 16px;
    margin-left: 16px;
  }

  .send__button {
    padding-right: 0;
  }

  .send__button__inner {
    justify-content: center;
  }

  /* Footer */
  .footer__inner {
    flex-direction: column;
    padding-right: 32px;
    padding-left: 32px;
  }

  .footer__logo {
    padding-top: 24px;
    padding-bottom: 48px;
  }

  .footer__social {
    display: flex;
    flex-wrap: wrap;
    padding-right: 0;
    padding-bottom: 48px;
  }

  .footer__social__item {
    margin-bottom: 0;
    margin-right: 10px;
  }

  .footer__contacts__inner {
    padding-top: 24px;
  }
}
/*========== EXTRA SMALL DEVICES ===========*/
/*========== EXTRA SMALL DEVICES ===========*/
/*========== EXTRA SMALL DEVICES ===========*/
@media (max-width: 575px) {
  /* Header */
  .header__inner {
    display: block;
  }

  .nav {
    display: none;
  }

  .header__button {
    display: none;
  }

  .header__logo img {
    width: 90px;
    height: 30px;
  }

  /* Burger Menu */
  .burger-menu {
    display: block;
  }
  .burger-menu .header__button {
    display: flex;
    justify-content: center;
  }

  .burger-menu__nav {
    padding-top: 64px;
  }

  .burger__link {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }

  .buttonBrief {
    padding: 18px 32px;
  }

  /* Section */
  .container {
    width: 360px;
  }

  .section__header {
    width: 328px;
    margin: 0;
    text-align: start;
  }

  .section__title h1 {
    font-size: 30px;
    font-weight: 800;
    line-height: 40px;
  }

  /* Intro */
  .intro {
    padding-bottom: 104px;
  }

  .intro__inner {
    padding-top: 160px;
    text-align: start;
  }

  .intro__title {
    text-align: start;
    font-size: 30px;
    font-weight: 800;
    line-height: 40px;
  }

  /* A little team section */
  .section__team__inner {
    flex-direction: column;
    padding-bottom: 64px;
  }

  .team__text--1 {
    width: 328px;
    text-align: start;
    margin: 0 auto;
    padding-right: 0;
    padding-bottom: 32px;
  }
  .team__text--1 h1 {
    font-size: 30px;
    font-weight: 800;
    line-height: 40px;
  }

  .team__text--2 {
    width: auto;
    text-align: start;
    margin: 0 auto;
    padding-top: 32px;
  }

  .team__photo__inner {
    text-align: center;
  }
  .team__photo__inner img {
    margin-right: 0;
    width: 348px;
    height: 328px;
  }

  /* WeDo */
  .weDo__photo__inner img {
    width: 360px;
    height: 117px;
  }

  .weDo__inner {
    flex-direction: column;
    padding-bottom: 64px;
  }

  .weDo__item {
    width: auto;
    margin-left: 0;
  }

  .weDo__item__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }

  /* Our customers */
  .services__carousel {
    width: 360px;
    padding-bottom: 64px;
    padding-top: 0;
  }

  .carousel__row {
    flex-direction: column;
    text-align: center;
  }

  .carousel__title {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 32px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
  .carousel__title:last-child {
    margin-right: 0;
  }

  .carousel__title--bold {
    margin-right: 24px;
    margin-left: 24px;
  }

  .effect1 {
    display: none;
  }

  .effect2 {
    display: none;
  }

  /* Systems */
  .systems {
    padding-bottom: 64px;
  }

  .systems__row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .systems__item {
    margin-right: 0;
    margin-bottom: 32px;
  }

  .systems__item__photo img {
    width: 328px;
    height: 242px;
  }

  /* Examples */
  .examples__gallery__inner {
    flex-direction: column;
    align-items: center;
  }

  .examples__gallery__item {
    margin-right: 0;
    margin-left: 0;
  }

  .examples__item__text {
    padding: 90px 0px 0px 15px;
    width: auto;
  }

  .examples__gallery__photo img {
    width: 328px;
    height: 328px;
  }

  /* UsefulToWork */
  .usefulToWork__photo img {
    width: 360px;
    height: 117px;
  }

  /* Cooperation */
  .cooperation__gallery__inner {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 64px;
  }

  .cooperation__gallery__item {
    margin-right: 0;
    margin-bottom: 0;
  }

  .cooperation__gallery__title {
    padding-bottom: 8px;
  }

  .cooperation__gallery__suptitle p {
    min-height: 130px;
    padding-bottom: 16px;
  }

  /* Stages */
  .stages {
    padding-bottom: 64px;
  }
  .stages h4 {
    display: none;
  }
  .stages h5 {
    display: none;
  }

  .stages__wrapper {
    width: 328px;
    padding-top: 32px;
  }

  .timeline::after {
    left: 1%;
    top: -25px;
  }

  .stages__col {
    display: flex;
    flex-direction: column;
    left: -20%;
    position: relative;
  }

  .stages__row::after {
    left: -5%;
    top: 10px;
  }

  /* Advantages */
  .advantages__title {
    padding-right: 0;
    padding-bottom: 32px;
    width: 328px;
    text-align: start;
  }
  .advantages__title h1 {
    font-size: 30px;
    font-weight: 800;
    line-height: 40px;
  }

  .advantages__photo img {
    width: 320px;
    height: 242px;
  }

  .advantages__inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Outsource-profit section */
  .outsource-profit__inner {
    flex-direction: column;
  }

  .outsource-profit__title {
    padding-left: 0;
    padding-bottom: 32px;
    width: 328px;
    text-align: start;
    order: 0;
  }
  .outsource-profit__title h1 {
    font-size: 30px;
    font-weight: 800;
    line-height: 40px;
  }

  .outsource-profit__photo {
    text-align: center;
    order: 1;
  }
  .outsource-profit__photo img {
    width: 320px;
    height: 242px;
  }

  /* Questions section */
  .questions__inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 64px;
  }

  .accordion__wrapper {
    order: 1;
    margin-right: 0;
  }

  .dropdownlink {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
  }

  .submenuItems img {
    width: 290px;
    height: 200px;
  }

  .accordion-menu li {
    width: 327px;
    margin: 0 auto;
  }

  .questions__text {
    order: 0;
    width: auto;
    padding-bottom: 32px;
  }

  .questions__title {
    text-align: center;
    padding-bottom: 16px;
  }
  .questions__title h1 {
    font-size: 34px;
    font-weight: 800;
    line-height: 40px;
  }

  .questions__suptitle {
    text-align: center;
  }

  /* Rate Us */
  .rateUs__inner {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 64px;
  }

  .rateUs__text {
    text-align: center;
    width: auto;
    margin-right: 0;
    padding-bottom: 32px;
  }

  .rateUs__text__title h1 {
    font-size: 34px;
    font-weight: 800;
    line-height: 40px;
  }

  .questions__suptitle {
    padding-top: 16px;
  }
  .questions__suptitle h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  /* Footer */
  .contact__input {
    width: 250px;
    padding: 12px 16px 12px 12px;
    margin-right: 16px;
    margin-left: 16px;
    background-color: #F5F5F5;
    border: none;
    border-radius: 8px;
  }

  .contact__form {
    text-align: center;
    margin: 0 auto;
  }

  .contact__form h2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .contact__textarea {
    width: 250px;
    margin-right: 16px;
    margin-left: 16px;
  }

  .send__button {
    padding-right: 0;
  }

  .send__button__inner {
    justify-content: center;
  }

  /* Footer */
  .footer__inner {
    flex-direction: column;
    padding-right: 32px;
    padding-left: 32px;
  }

  .footer__logo {
    padding-top: 24px;
    padding-bottom: 48px;
  }

  .footer__social {
    display: flex;
    flex-wrap: wrap;
    padding-right: 0;
    padding-bottom: 48px;
  }

  .footer__social__item {
    margin-bottom: 0;
    margin-right: 10px;
  }

  .footer__contacts__inner {
    padding-top: 24px;
  }
}
